<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                  @*  @Html.DisplayNameFor(model => model.StudentNoID)*@
                </th>
                <th>
                  @*  @Html.DisplayNameFor(model => model.JobName)*@
                </th>
                <th>
                   @* @Html.DisplayNameFor(model => model.CompanyId)*@
                </th>
                <th>Available Contractors</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       @* @Html.DisplayFor(modelItem => item.StudentNoID)*@
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.JobName)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.CompanyId)*@
                    </td>
                    <td>
                        @*@if (item.EnrolledCourses != null)
                        {
                            @for (int i = 0; i < item.Jobs; i++)
                            {
                                @item.Jobs[i].JobID
                            }*@
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>